<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <img
        src="assets/img/hm.png"
        alt="icon" >
    </mat-card-title>
  </mat-card-header>
  <img
    (dragover)="allowDrop($event)"
    (drag)="changeImagePosition($event)"
    (dragstart)="removeGhostImage($event)"
    draggable="true"
    mat-card-image
    src="{{clothesItem.image}}">
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <div class="type">
          {{clothesItem.name}}
        </div>
      </div>
      <div class="col-md-6 offset-md-">
        <div class="price">
          {{clothesItem.price.value}} {{clothesItem.price.currency}}
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="card-footer">
      <div class="description-type my-2">
        Color:
        <span class="description-value">
        {{clothesItem.color}}
      </span>
      </div>
      <div class="description-type my-2">
        Material:
        <span class="description-value">
        {{clothesItem.material.value}}
      </span>
      </div>
      <div class="description-type my-2">
        Style:
        <span class="description-value">
        {{clothesItem.style}}
      </span>
      </div>
      <div class="description-type my-2">
        Date:
        <span class="description-value">
        {{clothesItem.date | date }}
      </span>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
