.card {
  min-width: 200px;
  max-width: 220px;
}

.type{
  color: #C0C0C0;
  font-size: 12px;
}

.price {
  font-size: 13px;
}

.card-footer {
  display: none;
}

.card:hover .card-footer {
  display: inline;
  padding: 3% 5%;
  position: absolute;
  background: white;
  z-index: 999;
  width: 220px;
  border-radius: 4px ;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.description-type {
  font-size: 11px;
}

.description-value {
  font-size: 11px;
  right: 5%;
  position: absolute;
  font-weight: bold;
}

.mat-card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


