<div
  [ngStyle]="styleOfLook"
  (mouseover)="description = true"
  (mouseout)="description = false;removeFocus()"
  (mousedown)="setFocus()"
  class="look">
  <img src="{{ clothesItem.image }}"
       alt="image"
       class="image">
</div>
<div
  (click)="removeClothes()"
  [ngStyle]="styleOfDelete"
  class="delete-icon">
  <i class="material-icons">
    delete_outline
  </i>
</div>

<div
  [ngStyle]="styleOfResize"
  class="resize"
  (click)="resize()">
  <div *ngIf="increase; else notIncrease">
    <div class="increase" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="#C0C0C0" d="M16 18H6V8h3v4.77L15.98 6 18 8.03 11.15 15H16v3z"/>
        <path fill="none" d="M0 0h24v24H0z"/>
      </svg>
    </div>
  </div>
  <ng-template #notIncrease>
    <div class="reduce">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="#C0C0C0" d="M16 18H6V8h3v4.77L15.98 6 18 8.03 11.15 15H16v3z"/>
        <path fill="none" d="M0 0h24v24H0z"/>
      </svg>
    </div>
  </ng-template>
</div>

<div *ngIf="description" class="description">
  <div class="row my-3">
    <div class="col-md-4 type">
      Бренд:
    </div>
    <div class="col-md-8 value">
      <strong>{{ clothesItem.shopName | uppercase }}</strong>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Название:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.name }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Цвет:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.color }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Размер:
    </div>
    <div class="col-md-8 value">
      <strong>S</strong>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Описание:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.description }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Артикул:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.article }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Категория:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.category }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Пол:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.sex }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Материалы:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.material.value }} {{ clothesItem.material.percent }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Цена:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.price.value }} {{ clothesItem.price.currency }}
    </div>
  </div>
</div>
