<div
  (mouseleave)="description = false"
  (mouseover)="description = true"
  [ngStyle]="styleOfLook"
  class="look">
  <img src="{{ clothesItem.image }}"
       alt="image"
       class="image">
</div>

<div *ngIf="description" class="description">
  <div class="row my-3">
    <div class="col-md-4 type">
      Brand:
    </div>
    <div class="col-md-8 value">
      <strong>{{ clothesItem.shopName | uppercase }}</strong>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Name:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.name }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Color:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.color }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Size:
    </div>
    <div class="col-md-8 value">
      <strong *ngIf="clothesItem.sizes.length !== 0; else elseEmpty">
        [{{clothesItem.sizes.slice(0, 8).toString()}}..]
      </strong>
      <ng-template #elseEmpty>
        <strong>[ ]</strong>
      </ng-template>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Description:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.description }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Article:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.article }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Category:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.category }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Sex:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.sex }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Material:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.material.value }} {{ clothesItem.material.percent }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Price:
    </div>
    <div class="col-md-8 value">
      {{ clothesItem.price.value }} {{ clothesItem.price.currency }}
    </div>
  </div>
</div>
