.look {
  position: relative;
  width: 220px;
  height: 280px;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
}

.description {
  position: absolute;
  left: 300px;
  top: 100px;
  z-index: 100;
  width: 297px;
  height: 420px;
  padding: 20px 40px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.type {
  font-size: 12px;
  color: #C0C0C0;
  font-family: Roboto, serif;
  font-style: normal;
}

.value {
  font-size: 12px;
  font-style: normal;
}

.material-icons {
  color: #C0C0C0;
  font-size: 18px;
}

.delete-icon {
  cursor: pointer;
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
}

.resize {
  display: none;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: pointer;
}

.increase {
  transform: rotate(270deg);
}

.reduce {
  transform: rotate(90deg);
}
