.out-look {
  position: relative;
  top: 200px;
  left: 200px;
  width: 300px;
  height: 150px;
  display: flex;
}

.look {
  position: fixed;
  width: 300px;
  height: 150px;
}

.out-look:focus {
  outline: none;
}

.out-look:focus .look {
  border: 1px solid #CAC8C5;
  outline: none;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
}

.out-look:focus .square {
  position: absolute;
  width: 6px;
  height: 6px;
  background: black;
}

.square.top-left {
  left: -5px;
  top: -5px;
  cursor: nw-resize;
}

.square.top-right {
  right: -5px;
  top: -5px;
  cursor: ne-resize;
}
.square.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: sw-resize;
}
.square.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: se-resize;
}

