.look {
  position: relative;
  width: 220px;
  height: 280px;
}


.look:focus {
  border: 1px solid #CAC8C5;
  outline: none;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
}

.square {
  position: relative;
  width: 6px;
  height: 6px;
  background: black;
}

.bottom-right {
  left: 100%;
  bottom: 1%;
  cursor: se-resize;
}

mwlResizable {
  box-sizing: border-box;
}
