<div
  [ngStyle]="lookItemStyle"
  (mouseleave)="description = false"
  (mouseover)="description = true"
  class="look">
  <img src="{{ lookItem.image }}"
       alt="image"
       class="image">
</div>

<div *ngIf="description" class="description">
  <div class="row my-3">
    <div class="col-md-4 type">
      Brand:
    </div>
    <div class="col-md-8 value">
      <strong>{{ lookItem.shopName | uppercase }}</strong>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Name:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.name }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Color:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.color }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Size:
    </div>
    <div class="col-md-8 value">
      <strong>S</strong>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Description:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.description.slice(0, 70) }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Article:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.article }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Category:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.category }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Sex:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.sex }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Material:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.material.value }} {{ lookItem.material.percent }}
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4 type">
      Price:
    </div>
    <div class="col-md-8 value">
      {{ lookItem.price.value }} {{ lookItem.price.currency }}
    </div>
  </div>
</div>
