.look {
  margin-top: 50px;
  margin-left: 200px;
  position: absolute;
}

.image {
  width: 342px;
  height: 342px;
}

.look:focus {
  border: 1px solid #CAC8C5;
  outline: none;
  box-sizing: border-box;
}

.look:focus .square {
  width: 6px;
  height: 6px;
  background: black;
  position: absolute;

}

.square.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
}

.square.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.square.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.square.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}



