.look {
  margin-top: 50px;
  margin-left: 200px;
  position: relative;
}

.image {
  width: 342px;
  height: 342px;
}

.image:focus {
  border: 1px solid #CAC8C5;
  outline: none;
}

.square{
  width: 6px;
  height: 6px;
  background: black;
  cursor: ne-resize;
}



