.look {
  position: relative;
  width: 220px;
  height: 280px;
}

.image {
  width: 100%;
  height: 100%;
}

.description {
  position: absolute;
  left: 200px;
  top: 100px;
  z-index: 100;
  width: 297px;
  height: 420px;
  padding: 20px 40px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.type {
  font-size: 12px;
  color: #C0C0C0;
  font-family: Roboto, serif;
  font-style: normal;
}

.value {
  font-size: 12px;
  font-style: normal;
}
