.search-field {
  z-index: 100;
  position: fixed;
  top: 0;
  background: antiquewhite;
  min-width: 50%;
  max-width: 50%;
}

.search-input-field{
}

.calendar-field {
}

.search-input-placeholder {
  color: #7b8579;
  font-size: 15px;
}

.gender-icon {
  position: absolute;
  right: 10%;
  top: 10%;
}

.currency-icon {
  cursor: default;
  position: absolute;
  right: 5%;
  top: 15%;
  font-size: 14px;
}
