.search-input-placeholder {
  color: #686a63;
  font-size: 15px;
}

.mat-form-field {
  width: 100%;
}

.currency-icon {
  position: absolute;
  right: 67%;
  bottom: 110%;
}

.gender-icon {
  position: absolute;
  right: 55%;
  bottom: 100%;
}

.search-icon {
  cursor: pointer;
  border-radius: 50%;
}
