.search-input-placeholder {
  color: #7b8579;
  font-size: 15px;
}

.mat-form-field {
  width: 100%;
}

.currency-icon {
  position: absolute;
  right: 67%;
  bottom: 110%;
}

.gender-icon {
  position: absolute;
  right: 55%;
  bottom: 100%;
}
