.search-field {
  padding-right: 64px;
  padding-left: 64px;
  z-index: 50;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
}

.search-input-field{
  min-width: 324px;
  margin-top: 60px;
}

.calendar-field {
  margin-top: -65px;
  margin-left: 344px;
}

.search-input-placeholder {
  color: #7b8579;
  font-size: 15px;
}

