.search-field {
  padding-right: 64px;
  padding-left: 64px;
  z-index: 50;
  position: fixed;
  top: 0;
  background: white;
  min-width: 50%;
}

.search-input-field{
  min-width: 30%;
  max-width: 50%;
  margin-top: 5%;
}



.calendar-field {
  margin-top: -65px;
  margin-left: 344px;
}

.search-input-placeholder {
  color: #7b8579;
  font-size: 15px;
}

