.currency{
  color: #686a63;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.8s;
}

.currency:hover {
  background: #f6f9f9 radial-gradient(circle, transparent 1%, #f6f9f9 1%) center/15000%;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  background: #dde0e0;
  color: black;
}

.dropdown-menu {
  min-width: 80px !important;
  max-width: 100px !important;
  height: 130px !important;
}
