.card {
  min-width: 200px;
  max-width: 220px;
}

.type{
  color: #C0C0C0;
  font-size: 12px;
}

.price {
  font-size: 13px;
}

.cart-footer {
  padding: 3% 5%;
}

.description-type {
  font-size: 11px;
}

.description-value {
  font-size: 11px;
  right: 5%;
  position: absolute;
  font-weight: bold;
}
