.card {
  min-width: 200px;
  max-width: 220px;
}

.icon {
}

.type{
  color: #C0C0C0;
  font-size: 12px;
}

.price {
  font-size: 13px;
}

.cart-footer {
  padding: 3% 5%;
}

.description-type {
  font-size: 11px;
}

.description-value {
  font-size: 11px;
  right: 5%;
  position: absolute;
  font-weight: bold;
}

.mat-card-footer {
  position: absolute;
  background: white;
  z-index: 100;
  width: 220px;
  border-radius: 4px ;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
