.card {
  width: 220px;
  overflow:hidden;
  position:relative;
  z-index:0;
}
.card:hover {
  overflow:visible;
}

.cart-footer {
  position: absolute;
  width: 100%;
  background: white;
}

.card:hover .cart-footer {
  z-index: 100;
  background: white;
}

.type{
  color: #C0C0C0;
  font-size: 12px;
}

.price {
  margin-top: -15px;
  position: absolute;
  right: 20px;
  font-size: 13px;
}



.description-type {
  font-size: 11px;
  margin-top: 15px;
}

.description-value {
  font-size: 11px;
  right: 20px;
  position: absolute;
  font-weight: bold;
}
