.card {
  width: 220px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow:hidden;
  z-index:0;
  position:relative;
}
.card:hover {
  overflow:visible;
  z-index: 90;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cart-footer {
  position: absolute;
  width: 100%;
  background: white;
}

.card:hover .cart-footer {
  z-index: 100;
}

.type{
  color: #C0C0C0;
  font-size: 12px;
}

.price {
  margin-top: -15px;
  position: absolute;
  right: 20px;
  font-size: 13px;
}

.cart-footer {
  padding: 20px;
}

.description-type {
  font-size: 11px;
  margin-top: 15px;
}

.description-value {
  font-size: 11px;
  right: 20px;
  position: absolute;
  font-weight: bold;
}
