.main-menu {
  cursor: pointer;
}

.main-menu:hover {
  transform: scale(1.05);
}

.main-menu:active {
  transform: translateY(4px);
}

.attribute-menu {
  cursor: pointer;
  margin-left: 13px;
}

.attribute-icon {
  position: absolute;
  margin-left: 12px;
  margin-top: 5px;
}

.icon-list {
  animation: slide-right 1s;
}

.hide-icon-list {
  animation: slide-left 2s;
}

@-moz-keyframes slide-right {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  50% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2);
    opacity: 1;
  }
}

@-moz-keyframes slide-left {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  50% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
