.main-menu {
  cursor: pointer;
  animation: 1.5s ripple alternate;
}

.main-menu:hover {
  transform: scale(1.05);
}


.attribute-menu {
  cursor: pointer;
  margin-left: 13px;
}

.attribute-icon {
  position: absolute;
  margin-left: 12px;
  margin-top: 5px;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
