.box {
  display: inline-flex;
  padding: 10px;
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.boundary {
  background: navajowhite;
  position: relative;
  top: 100px;
  left: 250px;
  width: 800px;
  height: 600px;
  max-width: 100%;
  border: dotted #ccc 2px;
}
