.main-icon {
  cursor: pointer;
  position: fixed;
  margin-top: 32px;
  margin-left: 32px;
}

.logo {
}

.menu {
  position: fixed;
  margin-left: 32px;
  bottom: 50px;
}

.box {
  display: inline-flex;
  padding: 10px;
}

.boundary {
  background: white;
  position: relative;
  left: 300px;
  width: 1000px;
  height: 1000px;
}

.price {
  position: absolute;
  bottom: 80px;
  margin-left: 60%;
}


