.main-icon {
  cursor: pointer;
  position: fixed;
  margin-top: 32px;
  margin-left: 32px;
  z-index: 100;
}

/*.menu-area {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 150px;
  height: 100%;
  background: white;
}*/

.menu {
  position: fixed;
  margin-left: 32px;
  bottom: 50px;
  z-index: 100;
}

.box {
  display: inline-flex;
  padding: 10px;
}

.ex {
  position: absolute;
  z-index: 500;
  top: 349px;
  left: 0px;
}

.boundary {
  background: white;
  position: relative;
  left: 150px;
  width: 1000px;
  height: 1000px;
}

.price {
  position: absolute;
  bottom: 80px;
  right: 20px;
}

.resize {
  position: absolute;
  cursor: nw-resize;
  bottom: -15px;
  right: -15px;
  width: 24px;
  height: 24px;
  transform: rotate(360grad);
}

.resize-icon {
  fill: #C0C0C0;

}


