.box {
  display: inline-flex;
  padding: 10px;
}

.boundary {
  background: white;
  position: relative;
  top: 100px;
  left: 250px;
  width: 800px;
  height: 600px;
  max-width: 100%;
  border: dotted #ccc 2px;
}
