.main-icon {
  position: fixed;
  margin-top: 32px;
  margin-right: 48px;
  margin-left: 42px;
}


.box {
  display: inline-flex;
  padding: 10px;
}

.boundary {
  background: white;
  position: relative;
  top: 100px;
  left: 250px;
  width: 800px;
  height: 600px;
  max-width: 100%;
  border: dotted #ccc 2px;
}
